/* src/components/alert.css */
@layer design-system {
div.ef8c4f8c3 {
  border: 1px solid #000;
  width: 400px;
  margin-top: 15px;
  padding: 0 15px;
}

.header_ef8c4f8c3 {
  background-color: #789;
  margin: 0 -15px;
  padding: 15px;
}

.message_ef8c4f8c3 {
  font-size: 1em;
  font-style: italic;
}
}
