/* src/components/footer.css */
@layer design-system {
.alert_ea7505261 {
  border: 1px solid black;
}
div.ea7505261 {
  color: green;
}
p.ea7505261 {
  font-style: italic;
  text-decoration: underline;
}
}
