/* /home/nvp/Development/Work/ember-scoped-css/test-apps/v2-addon/src/components/footer.css */
@layer components {

.alert_e9a64d6f1 {
  border: 1px solid black;
}
div.e9a64d6f1 {
  color: green;
}
p.e9a64d6f1 {
  font-style: italic;
  text-decoration: underline;
}

}
