/* <inline>/src/components/issue-368/scoped-usage-in-class-css-afd67848cb3760288f86391a08dac515.css */

      .field_e337bece8 {
        background: blue;
      }

      .error_e337bece8 {
        background: red;
      }
